.heading{
    color: #2d5661;
    font-size: 50px;
    margin-top: 120px;
    font-weight: 500;
}

header{
    width: 50%;
    display: flex;
    margin: auto;
    /* justify-content: center; */
}

button{
    background-color: white;
    color: #2d5661;
    padding: 10px;
    margin: auto;
    border: solid 1px #2d5661;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .heading{
    padding-bottom: 50px;
    margin-top: 50px;
}

.header p{
    color: black;
    font-weight: 300;
    line-height: 1.6em;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

main section{
    width: 80%;
    margin: auto;
}

main section .heading{
    margin-left: 50px;
}

main section .row{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

main section .row .col{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-align: left;
}

main section .row .col .heading{
    font-size: 38px;
    margin-top: 50px;
    width: 100%;
    margin: auto;
    margin-bottom: 0;
}

main section .row .col .items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section .row .col .items .item{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main section .row .col .items .item p{
    color: black;
    font-weight: 300;
    line-height: 1.6em;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

main section .row .col .heading-small{
    color: #2d5661;
    font-size: 20px;
    margin-top: 100px;
    font-weight: 500;
    margin-bottom: 10px;
}