.heading{
    color: #2d5661;
    font-size: 50px;
    margin-top: 120px;
    font-weight: 500;
}

header{
    width: 50%;
    display: flex;
    margin: auto;
}

button{
    background-color: white;
    color: #2d5661;
    padding: 10px;
    margin: auto;
    border: solid 1px #2d5661;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .heading{
    padding-bottom: 50px;
    margin-top: 50px;
}

.header p{
    color: black;
    font-weight: 300;
    line-height: 1.6em;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

main section .row{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    width: 90%;
    margin-top: 100px;
}

main section .row .product{
    width: 100%;
    text-align: center;
}

main section .row .product .heading{
    margin-top: 30px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif !important;
    display: inline-block;
}

main section .row .product p{
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: black;
}

main section .row .product button{
    width: 90%;
}